[submodule "src/Hyena"]
	path = src/Hyena
	url = https://github.com/firox263/Hyena.git
[submodule "ext/dbus-sharp"]
	path = ext/dbus-sharp
	url = https://github.com/firox263/dbus-sharp
	branch = netcore
